.sidebar-container {
  display: flex;
  width: 14vw;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 11.5vw;
  background: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  height: 95vh;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.sidebar-title {
  margin-bottom: 30px;
  text-align: left;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-list li {
  margin: 15px 0;
}

.sidebar-list li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.sidebar-list li a:hover {
  color: #1e90ff;
}

.active-link {
  color: #1e90ff;
  font-weight: bold;
}

.sidebar-footer {
  text-align: center;
}

.logout-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: rgb(27, 52, 196);
  color: #fff;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background: rgb(20, 40, 150);
}
