.main-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: #0d6cca;
  align-items: center;
  display: flex;

  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  border: 1px solid #ccc;
  height: fit-content;
  flex-direction: column;
  h1{
color: rgb(7, 3, 245);
}
}
